---
title: Blog by Sebastià Ramon
---

<header>
  <img class="avatar" src="/assets/images/seb.png" />
  <div>
    <h1>Hey! My name is <a href="https://sebastia.me">Seb</a></h1>
    <div>I'm a Software Developer and Aerospace Engineer.</div>
  </div>
</header>

<h1>Latest posts</h1>

{% for post in site.posts %}
  <section>
    <hgroup>
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <h4>{{ post.excerpt }}</h4>
    </hgroup>
    {% include post-time-info.html date=post.date time_to_read=post.time_to_read %}
  </section>
{% endfor %}
