<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | relative_url }}" />
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <aside>
      <div class="social">
        <a class="ext-link" href="https://github.com/seraco">
          <img class="logo" src="{{ '/assets/images/GitHub-Mark-Light-64px.png' | relative_url }}">
        </a>
        <a class="ext-link" href="https://www.linkedin.com/in/sebastiaramoncolom">
          <img class="logo" src="{{ '/assets/images/In-2C-66px-R.png' | relative_url }}">
        </a>
      </div>
    </aside>
    <main>
      {{ content }}
    </main>
    <footer></footer>
  </body>
</html>
